html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #461c0300, #5e2804, #606161, #000000);
      background-size: 400% 400%;
      animation: gradient 8s ease infinite;
      text-align: center;
      color:rgb(0, 0, 0);
      font: 2rem/1.25 'URW Chancery L', cursive;
  }

  h2 {
	text-transform: uppercase;
	color: rgb(7, 7, 7);
	font-weight: 1000;
	letter-spacing: 1px;
	font-size: 1.7em;
    line-height: 1.7em;
    border: 2px solid lightgray;
    /*background: rgb(234, 234, 240);*/ 
    margin: 10px;
}
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  .bg_image{
    background-image: url('./calender.jpg');
    background-size: cover;
    height: 90vh;
  }

  .bag_image
  {
    background-image: url('./white.jpg');
  }
